<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>762158811597-7fn9ubacjb2osfb1bl2jf064erkcqhvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762158811597-7fn9ubacjb2osfb1bl2jf064erkcqhvd</string>
	<key>API_KEY</key>
	<string>AIzaSyALqK3j93uFMg5m6XZ-mSuU9w_2OLCFT-k</string>
	<key>GCM_SENDER_ID</key>
	<string>762158811597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robbroadwell.pulse</string>
	<key>PROJECT_ID</key>
	<string>pulse-180ea</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-180ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:762158811597:ios:139e4720c0b311a1</string>
	<key>DATABASE_URL</key>
	<string>https://pulse-180ea.firebaseio.com</string>
</dict>
</plist>